# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.DB
*.DB
*.DB-wal
*.tlog
cocos2d/cocos/2d/Debug.win32/libcocos2d.log
*.cache
*.idb
*.log
*.pdb
*.ilk
*.exp
*.opendb
